<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="smart.pro.pattasukadai">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <meta-data
        android:name="android.support.VERSION"
        android:value="25.3.1" />
    <meta-data
        android:name="smart.rua.hostel.app.MyAppGlideModule"
        android:value="GlideModule" />

    <application
        android:name="smart.pro.pattasukadai.app.AppController"
        android:allowBackup="true"
        android:icon="@drawable/fireworks"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/fireworks"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="smart.pro.pattasukadai.SplashActivity"
            android:theme="@style/AppThemeSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="smart.pro.pattasukadai.MainActivity"
            android:theme="@style/AppThemeNo"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name="smart.pro.pattasukadai.invoice.InvoiceListActivity">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

        </activity>
        <activity android:name="smart.pro.pattasukadai.seller.SellerListActivity" />
        <activity android:name="smart.pro.pattasukadai.buyer.BuyerListActivity" />
        <activity android:name="smart.pro.pattasukadai.MainEditActivity" />
        <activity android:name="smart.pro.pattasukadai.CustomerReport" />
        <activity android:name="smart.pro.pattasukadai.ChangePassword" />
        <activity android:name="smart.pro.pattasukadai.SettingsActivity" />
        <activity
            android:name="smart.pro.pattasukadai.RequestActivity"
            android:theme="@style/AppThemeNoreg" />
        <activity android:name="smart.pro.pattasukadai.help_video.HelpVideosActivity" />

        <activity android:name="smart.pro.pattasukadai.MainActivitySignature" />

        <provider
            android:name="smart.pro.pattasukadai.app.GenericFileProvider"
            android:authorities="smart.pro.pattasukadai.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <activity
            android:name="com.internal.exoplayer.VideoPreviewActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:theme="@style/AppThemeVideoPlay" />
    </application>

</manifest>